<div class="main-container"  fxLayout="column" fxLayoutAlign="center center">
    <div class="container" fxLayout="column">
        <div class="head-container" fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Books</h2>
            <app-add-book></app-add-book>
        </div>
        <div  fxLayout="row wrap" fxLayoutAlign="space-evenly center" >
            <div (deleteEvent)="updatePage($event)" *ngFor='let book of  bookArray' class="content-card">
                <div class="imgCls" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../.../../../../assets/bookimage/Image 11.png" class="bookImg" alt=""> 
                </div>
                <br>
                <div fxLayout="column" class="text">
                    <!-- {{book.bookName}} -->
                    bookName
                    <div class="author">
                        <!-- {{book.author}} -->
                        Author
                    </div>
                    <div class="price">
                        <!-- {{book.price}} -->
                        price
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <app-update-book [bookarr]="book"></app-update-book>
                        <app-delete-book [bookarr]="book"></app-delete-book>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
